<!doctype html>
<html>
<body>
<a id="loadApp" href="<%= @open_in_app_url %>" alt="Open in App" style="font-size: 1px;color: transparent" onblur="var APP_OPENED=true;">&nbsp;</a>
<script>
  (function() {
    var APP_OPENED = false;
    function fireEvent(element,event) {
      if (document.createEvent) { //modern stuff
        var evt = document.createEvent("HTMLEvents");
        evt.initEvent(event, true, true);
        return !element.dispatchEvent(evt);
      } else { //old school IE
        var evt = document.createEventObject();
        return element.fireEvent('on' + event, evt);
      }
    }
    window.onload = function(){
      var loadApp = document.getElementById("loadApp");
      if (loadApp) fireEvent(loadApp,'click');
    };
    var clickedAt = +new Date;
    setTimeout(function() {
      var installed = APP_OPENED || ((+new Date - clickedAt) > 2000);
      var oia = '_oia=' + (installed ? '1' : '0');
      var u = window.document.location.href;
      window.location.href = u + ((u.indexOf('?') > 0) ? "&" : "?") + oia;
    }, 1500);
  })();
</script>
</body>
